<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base de Données</title>
</head>

<body>
    <META HTTP-EQUIV="refresh" CONTENT="30">
    <h1>Base de données Evènements</h1>


    {{#db}}
    <h2>{{name}}</h2>
    <p>{{place}}</p>
    <input type="submit" id="delete" value="Delete" /> {{/db}}


    <form method="POST" action="/event/add">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" />
        <label for="place">Place</label>
        <input id="place" name="place" type="text" />
        <input type="submit" id="submit" value="Submit" />
    </form>

    <script>
        document.querySelector("#submit").addEventListener("click", function(e) {
            e.preventDefault();
            let name = document.querySelector('#name').value;
            let place = document.querySelector('#place').value;
            let params = "name=" + name + "&place=" + place;
            console.log(params);
            console.log('Test');
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/event/add', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log("Tdest");
                        console.log(xhr.response);
                    } else {
                        console.error('unexpected status code:', this.status);
                    }
                }
            };
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(params);
        });

        setInterval(function() {
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        //xhr.response;
                        //console.log(xhr.response);
                    } else {
                        console.error('unexpected status code:', this.status);
                    }
                }
            };
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(null);
        }, 500);

        document.querySelector("#delete").addEventListener("click", function(e) {
            e.preventDefault();
            let xhr = new XMLHttpRequest();
            xhr.open('DELETE', '/event/del', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log(xhr.response);
                    } else {
                        console.error('unexpected status code:', this.status);
                    }
                }
            };
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(null);
        });
    </script>
</body>

</html>